$mainColor: #409eff;

// sidebar
$menuBg: #304156;
$menuTextColor: #fff;
$menuActiveTextColor: $mainColor;
$menuActiveBg: none;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$collapseMenuActiveBg: #1f2d3d;
$collapseMenuActiveColor: $menuTextColor;
$collapseMenuActiveBorderColor: $mainColor;
$collapseMenuActiveBorderWidth: 2px;
$arrowColor: #909399;
$horizontalMenuHeight: 40px;
