$mainColor: #5c6ac4;

// sidebar
$menuBg: #304156;
$menuTextColor: #fff;
// $menuActiveTextColor: $mainColor;
$menuActiveTextColor: #fff;
$menuActiveBg: $mainColor;
// $menuActiveBg: none;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$collapseMenuActiveBg: $mainColor;
$collapseMenuActiveColor: $menuTextColor;
$collapseMenuActiveBorderColor: #34429c;
$collapseMenuActiveBorderWidth: 2px;
$arrowColor: #909399;
$horizontalMenuHeight: 40px;
$verticalMenuHeight: 48px;

$inputPlaceholderColor: #909399;
// $inputPlaceholderColor: #aeaeaf;
$inputBackgroundColor: #F5F6F9;
// $inputBackgroundColor: #eeeff6;
// $inputBackgroundColor: #f3f7fe;
// $inputBackgroundColor: #F9FAFB;
